* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

body {
    color: var(--text-color);
    font-family: var(--font-serif);
    background-color: var(--background-color);
    line-height: 1.5;
}

h1 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

h3 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

h4 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

h1, h2, h3, h4 {
    font-family: var(--font-sans);
    font-weight: 800;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

p {
    margin-bottom: 1.5rem;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

li > p {
    margin-bottom: 1rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon > svg {
    width: 100%;
    height: 100%;
}

.post-list > a > div > :last-child{
    color: var(--link-color);
}

.media-links a {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--border-color);
}

article {
    display: flex;
    flex-direction: column;
}

article a {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--border-color);
}

article img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
}

article > figure {
    margin-bottom: 1.5rem;
}

article > figure > img {
    margin-bottom: 0rem;
}

article > figure > figcaption {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    text-align: center;
}

article canvas {
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
}

article color-band > canvas {
    border-radius: 0;
    border: none;
}

article blockquote {
    border-left: 4px solid var(--border-color);
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}

article blockquote > p {
    margin-bottom: 0;
}

article h1, article h2, article h3, article h4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

article pre {
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}

article code {
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    padding: 0 0.25em;
    font-style: italic;
    font-size: 14px;
    line-height: 1.2rem;
}

article pre code {
    font-style: normal;
    border-radius: 0.5rem;
}

article video {
    max-width: 100%;
    max-height: 70vh;
    width: auto;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article p > video {
    margin-bottom: -0.4rem;
}

.katex-display {
    margin-top: 0;
}

.toc-header {
    margin-bottom: 0.5rem;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.toc {
    margin-bottom: 1.5rem;
    padding: 0;
    padding-left: 1.5rem;
    font-family: var(--font-sans);
}

.toc ul {
    list-style-type: none;
    padding-inline-start: 0;
    line-height: 1.5;
    margin: 0;
}

.toc ul li {
    margin-top: 0;
}

.toc > ul > li {
    margin: 0;
    font-weight: 500;
    margin-bottom: 0.375rem;
}

.toc > ul > li:last-child {
    margin-bottom: 0;
}

.toc > ul > li > a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
    display: inline-block;
    padding: 0.125rem 0;
    border-bottom-width: 0px;
}

.toc > ul > li > a:hover {
    color: var(--link-color);
}

.toc ul li > ul {
    margin-top: 0;
    padding-left: 1.25rem;
    font-size: 0.95em;
    line-height: 1.3;
}

.toc ul li > ul li {
    font-weight: normal;
    margin-bottom: 0.375rem;
}

.toc ul li > ul li:last-child {
    margin-bottom: 0;
}

.toc ul li > ul a {
    color: var(--dimmed-text-color);
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 0.125rem 0;
    display: inline-block;
    border-bottom-width: 0px;
}

.toc ul li > ul a:hover {
    color: var(--link-color);
}